<span id="course_wrap">
<p id="advice">Quiz time! Just a very SMALL sample of what you'll read in the LSAT. You're going to have to be on fire with your answers. By that, you should be able to answer quickly and on your feet. Like most things in life you will be under a time crunch and this quiz is a good place to start. You'll learn to process and interpret information quickly and with that newly developed skill you'll able to succeed in the highly pressured environment of a working attorney.</p>


<div id="quiz">

	
	<p id="tort_quiz">TORT QUIZ</p>

	<u><h3 id="question_number">1</h3></u>
	<h3 id="question_index">Andy is training to be the ultimate heavyweight fighter of the world. During practice, he tells his trainer to hit him multiple times. The trainer hits him once and breaks Andy’s nose. Why can’t Andy sue for battery, which is intentional harm to another?</h3>

		<i><p id="answer_index" onclick="myFunction1()">Click For Answer.</p></i>

		<script>
		function myFunction1() {
		    document.getElementById("answer_index").innerHTML = "The trainer IS NOT LIABLE, because Andy assumed the risk and gave him consent to hit him; thus it is not battery.";
		}
		</script>

	<hr></hr>


	<u><h3 id="question_number">2</h3></u>
	<h3 id="question_index">It’s Halloween! Coming home from trick-or-treating, Andy is pursued by a crazy man with a jack-o’-lantern for a head, carrying an axe. Is the man committing “battery” or “assault’? And why?</h3>

		<i><p id="answer_index2" onclick="myFunction2()">Click For Answer.</p></i>

		<script>
		function myFunction2() {
		    document.getElementById("answer_index2").innerHTML = "It’s ASSAULT, NOT BATTERY. Battery requires actual harm while assault can be “threatening to harm.";
		}
		</script>

	<hr></hr>

	<u><h3 id="question_number">3</h3></u>
	<h3 id="question_index">Andy wants to pet the wild boars owned by Farmer Dole. He walks to the secured gate, and he releases the lock. Unsurprisingly, the boars chase him across the field and attack him. Is Farmer Dole liable for Andy’s injuries?</h3>

		<i><p id="answer_index3" onclick="myFunction3()">Click For Answer.</p></i>

		<script>
		function myFunction3() {
		    document.getElementById("answer_index3").innerHTML = "Farmer Dole IS LIABLE for Andy’s injuries even though the cage is locked and secure. Farmer Dole can be sued under STRICT LIABILITY as wild animals are inherently dangerous, and Farmer Dole is still at fault no matter how much care is taken.";
		}
		</script>

	<hr></hr>

	<u><h3 id="question_number">4</h3></u>
	<h3 id="question_index">Andy, an employee of Fackina’s Flowers, is delivering some flowers when he found out that he has twenty minutes to kill. He could use some ice cream. He decides to drive a few miles in the other direction to the nearest ice cream store. On the way, he rear-ends another vehicle. Is he liable? If so, what does it fall under?</h3>


		<i><p id="answer_index4" onclick="myFunction4()">Click For Answer.</p></i>
		
		<script>
			function myFunction4() {
			    document.getElementById("answer_index4").innerHTML = "Andy IS LIABLE because he took a substantial route away from his work. This falls under the category of “FROLIC” related to vicarious liability.";
			}
			</script>

	<hr></hr>


	<u><h3 id="question_number">5</h3></u>
	<h3 id="question_index">Mr. Stephenson hires Wayne, a private contractor, to help fix the roof of a shed. Wayne falls off the ladder and breaks his ankle. Is Mr. Stephenson liable for the injury? Why or why not?</h3>

		<i><p id="answer_index5" onclick="myFunction5()">Click For Answer.</p></i>
			
			<script>
				function myFunction5() {
				    document.getElementById("answer_index5").innerHTML = "Mr. Stephenson IS NOT LIABLE, because Wayne is an independent contractor and not an employee. Wayne, as an independent contractor, is liable for his own damages as he is in control of his work, unlike that of an employee.";
				}
				</script>



	<hr></hr>
</div>


<button id="time_button_infinite" onclick="setTimeout(myFunction); setTimeout(myFunction_quiz)">UNLIMITED TIME</button>

<button id="time_button_easy" onclick="setTimeout(myFunction_easy, 1000); setTimeout(myFunction_quiz, 1000); setTimeout(myFunction_easy_2, 11000)">EASY (90 Seconds)</button>

<button id="time_button_medium" onclick="setTimeout(myFunction_medium, 1000); setTimeout(myFunction_quiz, 1000); setTimeout(myFunction_medium_2, 11000)">MEDIUM (60 Seconds)</button>

<button id="time_button_hard" onclick="setTimeout(myFunction_hard, 1000); setTimeout(myFunction_quiz, 1000); setTimeout(myFunction_hard_2, 11000)">HARD (30 Seconds)</button>

<p id="times_up">How Did You Do?</p>

<script>
function myFunction() {
    var quiz = document.getElementById("quiz")
    var opening_statement = document.getElementById("advice")
    var unlimited_button = document.getElementById("time_button_infinite")
    var easy_button = document.getElementById("time_button_easy")
    var medium_button = document.getElementById("time_button_medium")
    var hard_button = document.getElementById("time_button_hard")
    var end_quiz = document.getElementById('times_up')
    quiz.style.display = "block";
    unlimited_button.style.display = "none";
    easy_button.style.display = "none";
    medium_button.style.display = "none";
    hard_button.style.display = "none";
    end_quiz.style.display = "none";
  
}
function myFunction_quiz() {
    document.getElementById('tort_quiz').scrollIntoView();    
};
function myFunction_easy() {
    var quiz = document.getElementById("quiz")
    var unlimited_button = document.getElementById("time_button_infinite")
    var easy_button = document.getElementById("time_button_easy")
    var medium_button = document.getElementById("time_button_medium")
    var hard_button = document.getElementById("time_button_hard")
    var end_quiz = document.getElementById('times_up')
    quiz.style.display = "block";
    unlimited_button.style.display = "none";
    easy_button.style.display = "none";
    medium_button.style.display = "none";
    hard_button.style.display = "none";
    end_quiz.style.display = "none";
  
}
function myFunction_easy_2() {
	var quiz = document.getElementById("quiz")
	var unlimited_button = document.getElementById("time_button_infinite")
	var easy_button = document.getElementById("time_button_easy")
	var medium_button = document.getElementById("time_button_medium")
	var hard_button = document.getElementById("time_button_hard")
	var end_quiz = document.getElementById('times_up')
	quiz.style.display = "none";
	unlimited_button.style.display = "block";
	easy_button.style.display = "block";
	medium_button.style.display = "block";
	hard_button.style.display = "block";
	end_quiz.style.display = "block";
}
function myFunction_medium() {
    var quiz = document.getElementById("quiz")
   	var easy_button = document.getElementById("time_button_easy")
   	var unlimited_button = document.getElementById("time_button_infinite")
    var medium_button = document.getElementById("time_button_medium")
    var hard_button = document.getElementById("time_button_hard")
    var end_quiz = document.getElementById('times_up')
    quiz.style.display = "block";
    unlimited_button.style.display = "none";
    easy_button.style.display = "none";
    medium_button.style.display = "none";
    hard_button.style.display = "none";
    end_quiz.style.display = "none";
}
function myFunction_medium_2() {
	var quiz = document.getElementById("quiz")
	var unlimited_button = document.getElementById("time_button_infinite")
	var easy_button = document.getElementById("time_button_easy")
	var medium_button = document.getElementById("time_button_medium")
	var hard_button = document.getElementById("time_button_hard")
	var end_quiz = document.getElementById('times_up')
	quiz.style.display = "none";
	unlimited_button.style.display = "block";
	easy_button.style.display = "block"
	medium_button.style.display = "block"
	hard_button.style.display = "block";
	end_quiz.style.display = "block";
}
function myFunction_hard() {
    var quiz = document.getElementById("quiz")
    var unlimited_button = document.getElementById("time_button_infinite")
    var easy_button = document.getElementById("time_button_easy")
    var medium_button = document.getElementById("time_button_medium")
    var hard_button = document.getElementById("time_button_hard")
    var end_quiz = document.getElementById('times_up')
    quiz.style.display = "block";
    unlimited_button.style.display = "none";
    easy_button.style.display = "none";
    medium_button.style.display = "none";
    hard_button.style.display = "none";
    end_quiz.style.display = "none";
}
function myFunction_hard_2() {
	var quiz = document.getElementById("quiz")
	var unlimited_button = document.getElementById("time_button_infinite")
	var easy_button = document.getElementById("time_button_easy")
	var medium_button = document.getElementById("time_button_medium")
	var hard_button = document.getElementById("time_button_hard")
	var end_quiz = document.getElementById('times_up')
	quiz.style.display = "none";
	unlimited_button.style.display = "block";
	easy_button.style.display = "block";
	medium_button.style.display = "block";
	hard_button.style.display = "block";
	end_quiz.style.display = "block";
}
</script>



	<div id="question_index_padding"></div>


</audio>
</span>
