
<b><p id="title">Law School</p></b>

<div id="margin">


	<h1>Core Courses</h1>


	<% @courses.each do |course| %>

	<h2>
		<%= link_to(course.course_name, course_path(course.id))%>
	</h2>

	<% end %> 


	<h2 id="lawyer">
		<i><%= link_to("Our Lawyers", "/lawyers/")%></i><br>
	</h2>
	<h2>
		<i><%= link_to("Words Of Wisdom", "/advices")%></i><br>
	</h2>
</div>

<%=image_tag "shirt.png", id: "shirt" %> 

<div id="padding_bottom"></div>


