
<b><p id="title">Law School</p></b>

<div id="margin">


	<h1>Core Courses</h1>


	<% @courses.each do |course| %>

	<h2>
		<%= link_to(course.course_name, course_path(course.id))%>
	</h2>

	<% end %> 


	<h2 id="lawyer">
		<i><%= link_to("Our Lawyers", "/lawyers/")%></i><br>
	</h2>
	<h2>
		<i><%= link_to("Words Of Wisdom", "/advices")%></i><br>
	</h2>
</div>

<%=image_tag "shirt.png", id: "shirt" %> 

<div id="padding_bottom"></div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modal_stuff">Just a few important things to know before we get to the good stuff!</p>
  </div>

</div>

<script>

	var modal = document.getElementById('myModal');

	chapter_title.onclick = function() {
	    modal.style.display = "block";
	}

	chapter_title.onmouseleave = function() {
	    modal.style.display = "none";
	}

</script>


