

<b><p id="chapter">TORT LAW</p></b>

<%=image_tag "000047.jpg", id: "default" %>

<div id="margin_for_chapters">

	<p id="list">Introduction</p>
	<p id="list">Intentional Torts</p>
	<p id="list">Unintentional Torts</p>
	<p id="list">Duty of Care</p>
	<p id="list">Causation</p>
	<p id="list">Harm and Emotional Distress</p>
	<p id="list">Medical Malpractice</p>
	<p id="list">Premises Liability</p>
	<p id="list">Vicarious Liability</p>
	<p id="list">Workers Compensation</p>
	<p id="list">Strict Liability</p>
	<p id="list">Defenses and Priveleges</p>
	<p id="list">Remedies</p>

</div>

<style>
	div {
	    width: 300px;
	    height: 425px;
		overflow: scroll;
	}
</style>


<%= link_to("TORT QUIZ", course_questions_path(@course.id), :id => "bottom_button1")%>
<%= link_to("WORDS OF WISDOM", "/advices/", :id => "bottom_button2")%>

