/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notice {
  background-color: green;
  margin-top: 30px;
  color: white;
  padding: 10px;
  width: 500px;
  border-radius: 2px;
}

#alert {
  background-color: red;
  margin-top: 30px;
  color: white;
  padding: 10px;
  width: 500px;
  border-radius: 2px;
}

#color {
	font-color: green;
	font-family: 24px;
}

.color {
	font-color: green;
	font-family: 24px;
}
/* Modal Content (Image) */
#shirt2 {
  margin-top: 400px;
  height: 400px;
  width: auto;
  margin-right: 200px;
  margin-left: -700px;
  padding-bottom: 100px;
  position: absolute;
  z-index: -1;
  border-style: solid;
  border-color: black;
}

#shirt3 {
  margin-top: 400px;
  height: 400px;
  margin-right: 500px;
  margin-left: -200px;
  padding-bottom: 100px;
  width: auto;
  position: absolute;
  z-index: -1;
  border-style: solid;
  border-color: black;
}

#shirt2:hover {
  background-color: #8A0808;
}

#shirt3:hover {
  background-color: #8A0808;
}


#signup {
  margin-top: -80px;
  margin-left: 900px;
  font-size: 36px;
  display: none;
}

#login {
  margin-left: 265px;
  margin-top: -80px;
  font-size: 36px;
  display: none;

}

#modal_heading {
  color: white;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#admin {
  background-color: gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  margin-right: -300px;
  margin-top: 525px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 3px;
}

#admin:hover {
  font-color: black;
  background-color: #8A0808;
}

#login_form_shift {
  margin-left: 200px;
  margin-top: 80px;
}

#look_learn_laugh {
  font-size: 24px;
}