// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#margin {
	margin-top: -20px;
	float: right;
	text-align: center;
	text-decoration: none;
	padding-right: 100px;
}

h1 {
	border-style: solid;
	padding: 20px;
	border-width: 5px;
}

h2 {
	background-color: #8A0808;
	padding: 10px;
	font-color: white;
}

a, a:link, a:visited {
    color: white;
    text-decoration: none;
}



h2:hover {
	background-color: gray;
}

#lawyer:hover {
	background-color: gray;
}

#shirt {
	margin-top: -20px;
	width: 600px;
	height: auto;
	margin-left: 175px;
	position: absolute;
	z-index: -1;


}

#shirt:hover {
	-webkit-animation: rotate 4s forwards;
    animation: rotate 4s forwards;
}


  
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(35deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(35deg);
    }
}


#lawyer {
	background-color: #8A0808;
	padding: 10px;
	margin-top: 90px;
}

#logo {
	margin-left: 50px;
	width: 800px;
	height: auto;
	
	border-width: 3px;
	padding: 5px;
	margin-top: -20px;

}

#tagline {
	float: right;
	font-family: impact;
	font-size: 48px;
	color: #8A0808;
	padding-right: 50px;
	margin-top: 100px;
	position: relative;
}

#title {
	margin-top: -40px;
	margin-left: 1032px;
	font-size: 36px;
	text-decoration: underline;
}

#chapter {
	margin-left: 1070px;
	font-size: 36px;
	margin-top: -40px;
}

#list, #list1, #list2, #list3 {
	margin-top: 30px;
	cursor: pointer;
	font-size: 20px;
	background-color: #8A0808;
	border-radius: 25px;
	padding: 10px; 
	color: white;
	font-weight: bold;
}

#list:hover {
	background-color: grey;
}

#list3:hover {
	background-color: grey;
}

#margin_for_chapters {
	margin-top: -10px;
	float: right;
	text-align: center;
	text-decoration: none;
	padding-right: 50px;
	padding-left: 50px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-top: none;
	border-right: none;
	border-bottom: none;
}

#bottom_button1 {
	float: right;
	background-color: #8A0808;
	font-color: white;
	font-size: 24px;
	margin-top: 475px;
	margin-right: -340px;
	padding-left: 66px;
	padding-right: 66px;
	border-style: solid;
	border-weight: 3px;
	border-color: black;
}

#bottom_button1:hover {
	background-color: gray;
}

#bottom_button2 {
	float: right;
	background-color: #8A0808;
	font-color: white;
	font-size: 24px;
	margin-top: 525px;
	margin-right: -340px;
	padding-left: 9px;
	padding-right: 14px;
	border-style: solid;
	border-weight: 3px;
}

#bottom_button2:hover {
	background-color: gray;
}

#default {
	margin-top: 0px;
	width: 600px;
	height: auto;
	margin-left: 175px;
	padding-bottom: 100px;
}

#default_picture {
	margin-top: -50px;
	width: 800px;
	height: auto;
	margin-left: 120px;
	padding-bottom: 100px;
}

#padding_bottom {
	padding-bottom: 100px;
}



#caption_title {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 350px;
	font-weight: bold;
}

#caption_definition {
	font-size: 20px;
	margin-left: 170px;
	margin-right: 600px;
	margin-top: -90px;
	text-align: justify;
}

#caption_story {
	font-size: 16px;
	margin-left: 170px;
	margin-right: 600px;
	font-style: italic;
	text-align: justify;
}

#caption_title1 {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 160px;
	font-weight: bold;
}

#caption_title_transferred_intent {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 270px;
	font-weight: bold;
}

#chapter_title, #chapter_title1 {
	margin-left: 825px;
	margin-top: -40px;
	cursor: help;
}

#chapter_title1 {
	margin-left: 790px;
	margin-top: -40px;
}

#chapter_title2 {
	margin-left: 760px;
	margin-top: -40px;
	cursor: help;
}

#arrow, #arrow1, #arrow2 {
	margin-top: 175px;
	margin-left: 850px;
	position: absolute;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

.numbertext, .numbertext1, .numbertext2 {
  color: black;
  padding: 8px 12px;
  margin-top: 525px;
  margin-left: 860px;
  position: absolute;
  font-size: 20px;
  top: 0;
}

.modal, .chapter_one_modal, .chapter_two_modal, .chapter_three_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}


.chapter_one_modal_content, .chapter_two_modal_content, .chapter_three_modal_content, {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-weight: bold;
    border-style: solid;
    border-weight: 5px;
}

#chapter_one_modal_stuff, #chapter_two_modal_stuff, #chapter_three_modal_stuff {
	text-align: center;
	font-size: 20px;
} 

#first_chapter {
	display: none;
	margin-left: 0px;
}

#second_chapter {
	display: none;
	margin-left: 0px;
}

#third_chapter {
	display: none;
	margin-left: 0px;
}

#caption_title_battery {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 400px;
	font-weight: bold;
}

#caption_title_assault {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 400px;
	font-weight: bold;
}

#caption_title_standard_of_care {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 325px;
	font-weight: bold;
}

#caption_title_if_a_child_is_negligent {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 250px;
	font-weight: bold;
}

#caption_title_gross_negligence {
	font-size: 36px;
	margin-top: 0px;
	margin-left: 300px;
	font-weight: bold;
}



#list1:hover {
	background-color: gray;
}

#list2:hover {
	background-color: gray;
}

#question_mark {
	float: left;
	font-size: 18px;
	margin-left: -40px;
	margin-top: -70px;
	display: none;
    border:1px solid black;    
    height:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:25px;
    cursor: pointer;
}

#question_mark2 {
	float: left;
	font-size: 18px;
	margin-left: -40px;
	margin-top: -70px;
	display: none;
	border:1px solid black;    
    height:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:25px;
    cursor: pointer;
}

#question_mark3 {
	float: left;
	font-size: 18px;
	margin-left: -40px;
	margin-top: -70px;
	display: none;
	border:1px solid black;    
    height:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:25px;
    cursor: pointer;
}

.test_slide {
    position: relative;
    -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

#course_wrap {
	margin-left:auto;
    margin-right:auto;
    width:1363px;
}

#logout_button {
	margin-top: 30px;
}