// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#margin {
	margin-top: -20px;
	float: right;
	text-align: center;
	text-decoration: none;
	padding-right: 100px;
}

h1 {
	border-style: solid;
	padding: 20px;
	border-width: 5px;
}

h2 {
	background-color: #8A0808;
	padding: 10px;
}

a {
	color: white;
	text-decoration: none;
}

h2:hover {
	background-color: gray;
}

#lawyer:hover {
	background-color: gray;
}

#shirt {
	margin-top: -20px;
	width: 600px;
	height: auto;
	margin-left: 175px;
	position: absolute;
	z-index: -1;
}

#shirt:hover {
	-webkit-animation: rotate 4s forwards;
    animation: rotate 4s forwards;
}


  
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(35deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(35deg);
    }
}


#lawyer {
	background-color: #8A0808;
	padding: 10px;
	margin-top: 90px;
}

#logo {
	margin-left: 50px;
	width: 800px;
	height: auto;
	
	border-width: 3px;
	padding: 5px;
	margin-top: -20px;

}

#tagline {
	float: right;
	font-family: impact;
	font-size: 48px;
	color: #8A0808;
	padding-right: 50px;
	margin-top: 100px;
	position: relative;
}

#title {
	margin-top: -40px;
	margin-left: 1055px;
	font-size: 36px;
	text-decoration: underline;
}

#chapter {
	margin-left: 1070px;
	font-size: 36px;
	margin-top: -40px;
}

#list {
	margin-top: 30px;
	font-size: 20px;
	background-color: #8A0808;
	border-radius :25px;
	padding: 10px; 
	color: white;
	font-weight: bold;
}

#list:hover {
	background-color: grey;
}

#margin_for_chapters {
	margin-top: -10px;
	float: right;
	text-align: center;
	text-decoration: none;
	padding-right: 50px;
	padding-left: 50px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-top: none;
	border-right: none;
	border-bottom: none;
}

#bottom_button1 {
	float: right;
	color: #8A0808;
	font-size: 24px;
	margin-top: 475px;
	margin-right: -340px;
	padding-left: 66px;
	padding-right: 66px;
	border-style: solid;
}

#bottom_button1:hover {
	background-color: gray;
}

#bottom_button2 {
	float: right;
	color: #8A0808;
	font-size: 24px;
	margin-top: 525px;
	margin-right: -340px;
	padding-left: 14px;
	padding-right: 14px;
	border-style: solid;
	border-weight: 3px;
}

#bottom_button2:hover {
	background-color: gray;
}

#default {
	margin-top: -40px;
	width: 600px;
	height: auto;
	margin-left: 175px;
	padding-bottom: 100px;
}

#padding_bottom {
	padding-bottom: 100px;
}



#caption_title {
	font-size: 36px;
	margin-top: -20px;
	margin-left: 350px;
	font-weight: bold;
}

#caption_definition {
	font-size: 20px;
	margin-left: 170px;
	margin-right: 600px;
	margin-top: -90px;
	text-align: justify;
}

#caption_story {
	font-size: 16px;
	margin-left: 170px;
	margin-right: 600px;
	font-style: italic;
	text-align: justify;
}

#caption_title1 {
	font-size: 36px;
	margin-top: -20px;
	margin-left: 140px;
	font-weight: bold;
}

#arrow {
	margin-top: 200px;
	margin-left: 900px;
	position: absolute;
}

