// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#question_index {
	margin-left: 100px;
	margin-right: 150px;
	line-height: 35px;
}

#answer_index {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index2 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index3 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index4 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index5 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

.the_answer_index {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 20px;
}

#question_index_padding {
	padding-bottom: 100px;
}

#question_number {
	text-align: center;
}