// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tort_quiz {
	font-size: 48px;
	text-align: center;
	margin-top: 150px;
	background-color: #8A0808;
	color: white;
	padding: 10px;
}

#question_index {
	margin-left: 100px;
	margin-right: 150px;
	line-height: 35px;
}

#answer_index {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index2 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index3 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index4 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

#answer_index5 {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 25px;
}

.the_answer_index {
	margin-left: 150px;
	margin-right: 200px;
	padding-bottom: 20px;
	line-height: 20px;
}

#question_index_padding {
	padding-bottom: 200px;
}

#question_number {
	text-align: center;
}

#quiz {
	display: none;
}

#quiz2 {
	display: none;
}

#times_up {
	display: none;
	font-size: 72px;
	margin-align: center;
	font-weight: bold;
	margin-left: 500px

}

#countdowntimer {
	font-size: 72px;
}

#time_button_hard, #time_button_medium, #time_button_easy, #time_button_infinite {
	margin-top: 150px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 75px;
	float: left;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px;
}

#time_button_hard:hover, #time_button_medium:hover, #time_button_easy:hover, #time_button_infinite:hover {
	color: white;
	background-color: #8A0808;
} 

#return_button {
	display: none;
}

#times_up {
	display: none;
	font-size: 48px;
	margin-left: 20px;
}

