<div id="course_wrap">
<p id="reported_text_title">Reported Advice</p>

<% @reports.each do |report| %>

<p id="reported_text">
	<b>Post# <%=report.advice_id%></b> <%= report.text %>
</p>

<% end %>
</div>


